<% const date = new Date()
let year = date.getFullYear() %>
<footer>
    <p class="copyright">&copy; <%= year %>, CSE 340 App, </p>
    <p><a id="error-link" href="/inv/type/25"> Server Error</a></p>
</footer>