<h1 id='title'>Welcome to CSE Motors</h1>
<%- messages() %>
<div id="img-banner">
    <img src='/images/vehicles/delorean.webp' alt='delorean car picture'>
    <div id='call-to-action'>
        <h1>DMC Delorean</h1>
        <ul>
            <li>3 Cup holders</li>
            <li>Superman doors</li>
            <li>Fuzzy dice!</li>
        </ul>
        <a href='/inv/detail/37'>Own Today</a>
    </div>
</div>
<div id="wrapper-grid">
    <div id='reviews'>
        <h1>DMC Delorean Reviews</h1>
        <ul>
            <li>'So fast it's almost like traveling in time.' (4/5)</li>
            <li>'Coolest ride on the road.' (4/5)</li>
            <li>'I'm feeling McFly!.' (5/5)</li>
            <li>'The most futuristic ride of our day.' (4.5/5)</li>
            <li>'80's livin and I love it!.' (5/5)</li>
        </ul>
    </div>
    <div id='upgrades'>
        <h1>Delorean Upgrades</h1>
        <div class='container-upgrades'>
            <div class='box'>
                <div class='img-container'>
                    <a href="#"><img src='/images/upgrades/flux_capacitor.webp' alt='flux capacitor icon'></a>
                </div>
                <a href='#'>Flux Capacitor</a>
            </div>
            <div class='box'>
                <div class="img-container">
                    <a href="#"><img src='/images/upgrades/flame_decal.webp' alt='flame decal icon'></a>
                </div>
                <a href='#'>Flame Decals</a>
            </div>
            <div class='box'>
                <div class="img-container">
                    <a href="#"><img src='/images/upgrades/bumper_sticker.webp' alt='bumper sticker icon'></a>
                </div>
                <a href='#'>Bumper Stickers</a>
            </div>
            <div class='box'>
                <div class="img-container">
                    <a href='#'><img src='/images/upgrades/hub_cap.webp' alt='hub cap icon'></a>
                </div>
                <a href='#'>Hub Caps</a>
            </div>
        </div>
    </div>
</div>
<script src='/js/script.js'></script>