/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}
* {font-family: Inter;}
/* HEADER */
#top-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 1.5rem;
}
#top-header .siteName {
  display: flex;
  justify-content: left;
  font-size: 1.5rem;
}
.siteName a, #tools a {
  text-decoration: none;
  color: #212529;
}
#tools a {
  background-color: #212529;
  border: 1px solid yellow;
  color: #F8F9FA;
  padding: .2rem .2rem;
  border-radius: 10px;
  transition: transform .2s;
}
#tools a:hover {
  color: yellow;
  transform: scale(1.03);
}
#top-header #tools {
  display: flex;
  justify-content: right;
  align-items: end;
}

/* NAV */
#navLinks {display: none;}
#navLinks.open {
  display: flex;
  flex-direction: column;
  background-color: rgb(33, 37, 41, .95);
}
#navLinks.open li {
  padding: .8rem 0;
}
#hamburgerBtn {
  margin-left: 1rem;
  padding: .1rem .5rem;
  border: 2px solid yellow;
  background-color: #212529;
  border-radius: 5px;
}
#hamburgerBtn span:nth-child(1) {display: block; color: #F8F9FA}
#hamburgerBtn span:nth-child(2) {display: none;}

nav ul {
  display: flex;
  list-style-type: none;
  margin: 1.5rem auto;
  padding: 0;
  justify-content: center;
  background-color: #212529;
}
nav li {
  padding: 1rem .1rem;
  margin: 0 .7rem;
  border-bottom: 2px solid yellow;
  border-radius: 2px;
}
nav a {
  color: #F8F9FA;
  text-decoration: none;
  transition: transform .2s;
}
nav a:hover {
  color: yellow;
  transform: scale(1.03);
}


/* INDEX */
#title {
  font-size: 1.5rem;
  margin: 3rem 0;
  text-align: center;
}
#img-banner {
  display: flex;
  justify-content: center;
  position: relative;
}
#img-banner img {max-width: 100%;}
#call-to-action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(33, 37, 41, .8 );
  
  position: absolute;
  float: left;
  top: 15%;
  left: 5%;
  padding: 1rem;
  color: white;
}
#call-to-action h1 {
  font-size: 1rem;
  margin: 0 0 .3rem 0;
}
#call-to-action ul {
  list-style-type: none;
  padding: 0;
  margin: 0 0 1rem 0;
}
#call-to-action li {
  margin: .1rem 0;
}
#call-to-action a {
  text-decoration: none;
  background-color: yellow;
  color: #212529;
  padding: .3rem .8rem;
  transition: transform .2s;
}
#call-to-action a:hover {transform: scale(1.03);}

/* REVIEWS */
#reviews {margin-top: 4rem;}
#reviews h1 {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}
#reviews li {margin: .4rem 0;}
#reviews ul {padding: 0; margin: 0 1rem;}

/* UPGRADES */
#upgrades {margin-top: 4rem;}
#upgrades h1 {
  font-size: 1.1rem;
  margin-bottom: 2rem;
}
#upgrades .container-upgrades {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 1rem;
}
#upgrades .box {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  flex-direction: column;
}
#upgrades .box .img-container {
  background-color: #212529;
  padding: .2rem;
}
#upgrades .box > a {
  margin: .2rem 0 1rem 0;
  padding: .1rem .5rem;
  text-decoration: none;
  align-items: center;
  text-align: center;
  color: black;
  border-bottom: 2px solid black;
  border-radius: 20px;
}

/* FOOTER */
footer {
  display: flex;
  justify-content: center;
  background-color: #212529;
  color: #F8F9FA;
  margin-top: 5rem;
}

/* --------- INVENTORY --------- */
#inv-title {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}
#inv-display {
  display: grid;
  grid-template-columns: 200px;
  justify-content: center;
  padding: 0;
}
#inv-display a img {
  width: 100%;
  border-radius: 15px;
}
#inv-display li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  padding: 1rem 1rem;
  border: 3px solid #212529;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.namePrice {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.namePrice > h2 {
  font-size: 1rem;
  text-align: center;
}
.namePrice a {
  text-decoration: none;
  color: #212529;
}
.namePrice span {
  font-size: 1.1rem;
  padding: .2rem .5rem;
  text-align: center;
  background-color: rgba(33, 37, 41, .1);
  color: black;
  border-bottom: 2px solid #212529;
  border-radius: 0 0 10px 10px;
}

/* --------- DETAIL --------- */
#det-title {
  font-size: 1.5rem;
  text-align: center;
  margin: 3rem 0;
}
#det-img img {
  width: 100%;
  border-radius: 15px;
  border: 2px solid #212529;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
#det-subtitle {
  font-size: 1.2rem;
}
#det-price, #det-mileage, #det-color {
  text-align: center;
  margin: 10rem 0;
  background-color: rgba(33, 37, 41, .1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: black;
  padding: .2rem .7rem;
}
#det-description {
  margin: 2rem 0 1.5rem 0;
  font-size: 1.1rem;
}
#det-price {
  font-size: 1.3rem;
  padding: .3rem 1rem;
  border-bottom: 2px solid #212529;
  border-radius: 0 0 10px 10px;
}
/* ---------- LOGIN / REGISTER ---------- */
#login-title, #register-title {
  font-size: 1.5rem;
  text-align: center;
  margin: 3rem 0;
}
#login-display, #register-display {
  background-color: #fff;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  padding: 1.5rem 1rem;
  border-radius: 5px;
  width: 85%;
  margin: 0 auto;
}
#login-display input, #register-display input {
  width: 100%;
  padding: .5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: .6rem;
}
#login-display form .login-label, #register-display form .login-label {
  font-size: .9rem;
  margin-left: .2rem;
}
#login-display button, #register-display button {
  width: 100%;
  padding: .6rem;
  background-color: #212529;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-top: .6rem;
}
#login-display button:hover, #register-display button:hover {
  color: yellow;
  border-bottom: 1px solid yellow;
  border-radius: 5px;
}
#login-display a {
  font-size: .9rem;
  display: block;
  text-align: center;
  margin-top: .9rem;
  color: black;
  text-decoration: none;
}
#login-display a:hover {
  text-decoration: underline;
}
#show-password {
  display: flex;
  font-size: .8rem;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: .6rem;
  background-color: rgba(33, 37, 41, .1);
  width: 120px;
  padding: .2rem .2rem;
  border-radius: 0 0 15px 15px;
  border-bottom: 1px solid #212529;
}
#register-display #register-password {
  margin-bottom: 0;
}
#password-advice {
  background-color: #212529;
  color: white;
  border-radius: 50px;
  padding: 0 .3rem;
}

/* ---------- INVENTORY MAGAGEMENT ---------- */
#manag-title {
  font-size: 1.5rem;
  margin-top: 3rem;
  text-align: center;
}
#manag-display {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  width: 85%;
  margin: 3rem auto;
  padding: 1rem 0;
}
#manag-display a {
  margin: 1rem auto;
  padding: .2rem;
  text-decoration: none;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  background-color: #212529;
  border-radius: 15px;
  color: white;
  width: 120px;
}
#manag-display a:hover {color: yellow;}

/* ---------- ADD CLASSIFICATION / ADD VEHICLE / EDIT VEHICLE / DELETE VEHICLE ---------- */
#add-classification-title, #add-inventory-title, #edit-inventory-title, #delete-inventory-title {
  font-size: 1.5rem;
  margin-top: 3rem;
  text-align: center;
}
#add-classification-display, #add-inventory-display, #edit-inventory-display, #delete-inventory-display {
  background-color: #fff;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  padding: 1.5rem 1rem;
  border-radius: 5px;
  width: 85%;
  margin: 0 auto;
}
#add-classification-display input, #add-inventory-display input, #add-inventory-display select, #edit-inventory-display select ,#edit-inventory-display input, #delete-inventory-display select, #delete-inventory-display input {
  width: 100%;
  padding: .5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: .6rem;
}
#add-classification-display form .add-classification-label, #add-inventory-display form .add-inventory-label, #edit-inventory-display form .edit-inventory-label, #delete-inventory-display .delete-inventory-label {
  font-size: .9rem;
  margin-left: .2rem;
}
#add-classification-display button, #add-inventory-display button, #edit-inventory-display button, #delete-inventory-display button {
  width: 100%;
  padding: .6rem;
  background-color: #212529;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-top: .6rem;
}
#add-classification-display button:hover, #add-inventory-display button:hover, #edit-inventory-display button:hover, #delete-inventory-display button:hover {
  color: yellow;
  border-bottom: 1px solid yellow;
  border-radius: 5px;
}
/* Tables */
#inventoryDisplay, #accountTable {
  border-collapse: collapse;
  width: 95%;
  justify-content: center;
  margin: 1rem auto;
}
#inventoryDisplay th, #inventoryDisplay td, #accountTable th, #accountTable td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 6px;
}
#inventoryDisplay th, #accountTable th {background-color: #f2f2f2;}
#inventoryDisplay tr:nth-child(even), #accountTable tr:nth-child(even) {background-color: #f2f2f2;}
#inventoryDisplay tr:hover, #accountTable tr:hover {background-color: #dddddd;}
/* ---------- ACCOUNT / UPDATE (Personal) / UPDATE (Manag) ---------- */
#update-title, #update-manag-title, #account-manag-title, #delete-manag-title {
  font-size: 1.5rem;
  margin-top: 3rem;
  text-align: center;
}
#account-display {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  width: 85%;
  margin: 3rem auto;
  padding: 1rem 0;
}
#update-display input, #update-manag-display input, #delete-manag-display input {
  width: 100%;
  padding: .5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: .6rem;
}
#update-display, #update-manag-display, #delete-manag-display {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  padding: 1.5rem 1rem;
  border-radius: 5px;
  width: 85%;
  margin: 0 auto;
}
#update-display button, #update-manag-display button, #delete-manag-display button {
  width: 100%;
  padding: .6rem;
  background-color: #212529;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-top: .6rem;
}
#update-display form fieldset .update-label, #update-manag-display form fieldset .update-label, #delete-manag-display .update-label {
  font-size: .9rem;
  margin-left: .2rem;
  text-align: left;
}
#update-display form, #update-manag-display form, #delete-manag-display form {
  margin: 1rem 0;
  text-align: left;
}
#update-display form legend, #update-manag-display form legend {
  border-left: 2px solid #212529;
  border-right: 2px solid #212529;
  border-radius: 10px;
  padding: 0 .5rem;
  text-align: center;
}
#update-display form fieldset, #update-manag-display form fieldset {
  border-radius: 10px;
}
#update-display #register-password, #update-manag-display #register-password {
  margin-bottom: 0;
}
#account-display h2:first-child {
  border-left: 7px solid green;
  border-right: 7px solid green;
  border-radius: 2px;
  margin-bottom: 1rem;
}
#account-display a, #accountTable a {
  background-color: #212529;
  color: #F8F9FA;
  padding: .2rem 0rem;
  border-radius: 10px;
  transition: transform .2s;
  text-decoration: none;
  width: 50%;
  justify-content: center;
  margin: .3rem auto;
}
#account-display a:hover, #accountTable a:hover {color: yellow;}
/* ---------- ERROR ---------- */
#error-title, #error-msg {
  margin-top: 3rem;
  text-align: center;
}
#error-link {
  color: white;
  font-size: .8rem;
}
ul.notice, ul.success {
  margin: 2rem auto;
  padding: 0;
  width: 85%;
}
.notice li {
  list-style-type: none;
  text-align: center;
  color: #212529;
  padding: .2rem 0;
  margin: .5rem 0;
  border-right: 15px solid red;
  border-left: 15px solid red;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.success li {
  list-style-type: none;
  text-align: center;
  color: #212529;
  padding: .2rem 0;
  margin: .5rem 0;
  border-right: 15px solid green;
  border-left: 15px solid green;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 550px) {
  body {
    background-image: url('/images/site/checkerboard.jpg');
    margin: 3rem 2%;
    border: 4px solid yellow;
    border-radius: 15px;
  }
  #wrapper {
    background-color: white;
    padding: .1rem 1rem;
  }
  #hamburgerBtn {display: none;}
  #navLinks {display: flex;}
  #call-to-action {
    left: 13%;
  }
  #wrapper-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #upgrades {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: 1;
    grid-row: 1;
    align-items: center;
  }
  #reviews {
    grid-column: 2;
    grid-row: 1;
  }
  /* ---------- INVENTORY ---------- */
  #inv-display {
    grid-template-columns: 200px 200px;
    justify-content: center;
    column-gap: 3rem;
  }
  /* ---------- DETAIL ---------- */
  #det-display {
    display: grid;
    grid-template-columns: 250px 1fr;
    justify-content: center;
    column-gap: 2rem;
  }
  /* ---------- LOGIN ---------- */
  #login-display, #register-display {
    width: 350px;
  }
  /* ---------- INV MANAGEMENT ---------- */
  #manag-display, #add-classification-display, #add-inventory-display, #edit-inventory-display, #delete-inventory-display, #account-display, #update-display, #update-manag-display, #delete-manag-display  {
    width: 350px;
  }
  #accountTable {width: 450px;}
  /* ---------- MESSAGES --------- */
  ul.notice, ul.sucess {
    width: 350px;
  }
}
@media screen and (min-width: 968px) {
  #inv-display {
    grid-template-columns: repeat(3, 200px);
  }
  #det-display {
    grid-template-columns: 450px 1fr;
    column-gap: 5rem;
  }
  #login-display, #register-display {
    width: 450px;
  }
  #manag-display, #add-classification-display, #add-inventory-display, #edit-inventory-display, #delete-inventory-display, #account-display, #update-display, #update-manag-display, #delete-manag-display  {
    width: 450px;
  }
  #accountTable{
    width: 650px;
  }
  ul.notice, ul.success {
    width: 450px;
  }
}